# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Windows System Files
.DS_Store
Thumbs.db

# Distribution
*.egg-info/
*.egg

# Environment Files
.venv/
venv/
env/
.Python/
.env

# Caches
.cache/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Data Folders
data/raw/FashionMNIST/raw
data/processed/

# Models & Checkpoints
models/checkpoints/
models/final/
models/*.pth
models/*.pt
models/*.h5

# VSCode and IDE configs
.vscode/
.idea/

# Test Scripts
temp_data_test.py

# Results & Logs
results/
experiments/
logs/
runs/

# MLflow tracking
mlruns/